<% if current_user.admin %>

  <table class="table table-hover">
    <th>Name</th>
    <th>Surname</th>
    <th>Email</th>
    <th>Grade</th>
    <% for user in @users %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.surname %></td>
      <td><%= user.email%></td>
      <td><%= user.grade%></td>
    </tr>
    <% end %>
  </table>

<% else %>
  Hey normal user, the events functionality is yet to be added
<% end %>