

<div class="jumbotron">
  <h1>Learn to market</h1>
  <p class="lead">Join Cupertino DECA for the skills you need to succeed, today.</p>
  <%= link_to 'Login', new_user_session_path, class: 'btn btn-large btn-default' %>
  <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-large btn-success' %>
</div>

<hr>

<div class="row-fluid marketing">
  <div class="span6">
    <h4>Study business</h4>
    <p>Study sessions provide the resources and opportunities to transform you into a business professional.</p>

    <h4>Win competitions</h4>
    <p>Past winners can help you place at the regional, state and even international levels.</p>
  </div>

  <div class="span6">
    <h4>Make friends</h4>
    <p>Networking events let you meet your future employees or investors.</p>

    <h4>Play hard</h4>
    <p>Achieve competitive excellence and have fun while doing so. Dances & socials allow for that!</p>
  </div>
</div>
<hr>

<div class="footer">
  <a id="naga" data-toggle="tooltip" title="Designed and developed by Tinovation (http://tinovation.org)">&copy; Cupertino DECA 2014-2015</a>

  <script type="text/javascript">
    $('#naga').tooltip();
  </script>

  <style type="text/css">
    #naga, #naga:hover {
      text-decoration: none;
      color: black;
    }
  </style>
</div>