<% if !user_signed_in? %>

<div class="jumbotron">
  <h1>Learn to market</h1>
  <p class="lead">Join Cupertino DECA for the skills you need to succeed, today.</p>
  <%= link_to 'Login', new_user_session_path, class: 'btn btn-large btn-default' %>
  <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-large btn-success' %>
</div>

<hr>

<div class="row-fluid marketing">
  <div class="span6">
    <h4>Study business</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

    <h4>Win competitions</h4>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
  </div>

  <div class="span6">
    <h4>Make friends</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

    <h4>Attend HYPS</h4>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
  </div>
</div>

<% else %>
  
  <div class="jumbotron">
    <h2>No events to attend at this time.</h1>
  </div>

<% end %>
<hr>

<div class="footer">
  <p>&copy; Cupertino DECA 2014-2015</p>
</div>