<div class="masthead">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">
      <i class="fa fa-sign-in fa-lg"></i>
    </a></li>
  </ul>
  <h3 class="muted">Cupertino DECA</h3>
</div>

<hr>