<!DOCTYPE html>
<html>
<head>
  <title>Cupertino DECA</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-narrow">

  <div class="masthead">
    <ul class="nav nav-pills pull-right">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">
        <i class="fa fa-sign-in fa-lg"></i>
      </a></li>
    </ul>
    <h3 class="muted">Cupertino DECA</h3>
  </div>

  <hr>

  <%= yield %>
</div>

</body>
</html>
